# Ambiente virtual
venv/
env/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3

# Arquivos de configuração local
.env

# VS Code
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db